<footer>

  
    
    <ul class="flex-container flex-container--row">

        <li>
          <a href="mailto:devguilima@gmail.com">devguilima@gmail.com</a>
        </li>
  
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer" title="Fale conosco">62 93465211</a>
        </li>
  
      </ul>
</footer>
<script>
  window.onload = () => {
    const menu = document.querySelector('header > ul')
    const menuLinks = menu.querySelectorAll('li a')
    for(let link of menuLinks) {
        if(link.getAttribute('href') == window.location.pathname) {
            link.classList.add('active')
        } else {
            link.classList.contains('active') && link.classList.remove('active')
        }
    }
};
</script>
</body>
</html>