<header>
  
 <ul class="nav nav-pills">
    
 
     <li class="nav-item">
         <a class="nav-link active" href="/">Home</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="/agenda">Agenda</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="/bioLilPeep">Lil Peep</a>
       </li>
       <li class="nav-item">
           <a class="nav-link" href="/blog">Blog</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/chat">Mensagen</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="/colecao">portfolio</a>
         </li>
       <li class="nav-item">
         <a class="nav-link" href="/faleConosco">Fale Conosco</a>
       </li>
   </ul>
 
 </header>