<%- include('partials/head') %>
<%- include('partials/header') %>
    <h1><%= title %></h1>
    <p style = text-align:center color:white font-weight:bold 30px> GALERIA DE IMAGENS</p>
 
    <div class="card-group">
  <div class="card">
    <img src="/images/img2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">image description</h5>
      <p class="card-text">Colocar imagens dos trabalhos</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Novidades</small>
    </div>
  </div>
  <div class="card">
    <img src="/images/img1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">image description</h5>
      <p class="card-text">Colocar imagens dos trabalhos</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Novidades</small>
    </div>
  </div>
  <div class="card">
    <img src="/images/img3.jpg" class="card-img-top" alt="tatoo">
    <div class="card-body">
      <h5 class="card-title">Imagem 1</h5>
      <p class="card-text">Description of the image.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Novidades</small>
    </div>
  </div>
  <br><br>

  <div class="card-group">
    <div class="card">
      <img src="/images/img2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">image description</h5>
        <p class="card-text">Colocar imagens dos trabalhos</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Novidades</small>
      </div>
    </div>
    <div class="card">
      <img src="/images/img1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">image description</h5>
        <p class="card-text">Colocar imagens dos trabalhos</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Novidades</small>
      </div>
    </div>
    <div class="card">
      <img src="/images/img3.jpg" class="card-img-top" alt="tatoo">
      <div class="card-body">
        <h5 class="card-title">Imagem 1</h5>
        <p class="card-text">Description of the image.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Novidades</small>
      </div>
    </div>
    <br><br>
    <div class="card-group">
        <div class="card">
          <img src="/images/img12.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">image description</h5>
            <p class="card-text">Colocar imagens dos trabalhos</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Novidades</small>
          </div>
        </div>
        <div class="card">
          <img src="/images/img11.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">image description</h5>
            <p class="card-text">Colocar imagens dos trabalhos</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Novidades</small>
          </div>
        </div>
        <div class="card">
          <img src="/images/img10.jpg" class="card-img-top" alt="tatoo">
          <div class="card-body">
            <h5 class="card-title">Imagem 1</h5>
            <p class="card-text">Description of the image.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Novidades</small>
          </div>
        </div>
        <br><br>
      
        <div class="card-group">
          <div class="card">
            <img src="/images/img9.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">image description</h5>
              <p class="card-text">Colocar imagens dos trabalhos</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Novidades</small>
            </div>
          </div>
          <div class="card">
            <img src="/images/img8.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">image description</h5>
              <p class="card-text">Colocar imagens dos trabalhos</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Novidades</small>
            </div>
          </div>
          <div class="card">
            <img src="/images/img7.jpg" class="card-img-top" alt="tatoo">
            <div class="card-body">
              <h5 class="card-title">Imagem 1</h5>
              <p class="card-text">Description of the image.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Novidades</small>
            </div>
          </div>

</div>

<%- include('partials/footer') %>